In [5]:
import pandas as pd
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler


df = pd.read_csv("./bmi.csv")
df.head()

   height  weight   label
0     142      62     fat
1     142      73     fat
2     177      61  normal
3     187      48    thin
4     153      60     fat

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   height  20000 non-null  int64
 1   weight  20000 non-null  int64
 2   label   20000 non-null  object
dtypes: int64(2), object(1)
memory usage: 468.9+ KB

In [7]:
df.isnull().sum()

height    0
weight    0
label     0
dtype: int64

In [12]:
df['cluster'] = labels
centers = kmeans.cluster_centers_
cluster_counts = df['cluster'].value_counts().sort_index()


print("클러스터별 데이터 수:")
print(cluster_counts)

클러스터별 데이터 수:
cluster
0    6230
1    6361
2    7409
Name: count, dtype: int64

클러스터 중심 (정규화된 좌표):

NameError: name 'centers' is not defined