In [7]:
import sklearn

In [8]:
import sklearn

In [9]:
import sys
!{sys.executable} -m pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\minjun\appdata\local\programs\python\python311\lib\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\minjun\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\minjun\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.15.3)
Requirement already satisfied: joblib>=1.2.0 in c:\users\minjun\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\minjun\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (3.6.0)

[notice] A new release of pip available: 22.3 -> 25.1.1
[notice] To update, run: C:\Users\MINJUN\AppData\Local\Programs\Python\Python311\python.exe -m pip install --upgrade pip

In [10]:
import urllib
DOWNLOAD_ROOT = "https://raw.githubsercontent.com/rickiepark/handson-m12/master/"

In [11]:
import urllib
DOWNLOAD_ROOT = "https://raw.githubsercontent.com/rickiepark/handson-m12/master/"
os.makedirs(datapath, exist_ok = True)
for filename in ("oecd_bli_2015.csv","gdp_per_capita.csv"):
    print("Downloading", filename)
    url = DOWNLOAD_ROOT + "datasets/lifesat/", filename
    urllib.request.urlretrieve(url, datapath + filename)

NameError: name 'os' is not defined

In [ ]:
import os
import urllib.request

DOWNLOAD_ROOT = "https://raw.githubusercontent.com/rickiepark/handson-ml2/master/"
datapath = "datasets/lifesat/"
os.makedirs(datapath, exist_ok=True)

for filename in ("oecd_bli_2015.csv", "gdp_per_capita.csv"):
    print("Downloading", filename)
    url = DOWNLOAD_ROOT + datapath + filename
    urllib.request.urlretrieve(url, datapath + filename)

In [ ]:
import matplotlib as mpl

mpl.rc('axes', labelsize =14)
mpl.rc('xtick', labelsize =12)
mpl.rc('ytick', labelsize =12)

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn import linear_model

oecd_bli = pd.read_csv(datapath + "oecd_bli_2015.csv", thousands = ",")
oecd_bli.head(3)

In [ ]:
gdp_per_capita = pd.read_csv(
    datapath + "gdp_per_capita.csv",
    thousands=",",
    delimiter="\t",
    encoding="latin1",
    na_values="n/a"
)

gdp_per_capita.head(3)

In [ ]:
oecd_bli = oecd_bli[oecd_bli["INEQUALITY"] == "TOT"]

In [ ]:
oecd_bli.head(3)

In [12]:
oecd_bli = oecd_bli.pivot(index = "Country", columns ="Indicator", values = "Value")
oecd_bli

NameError: name 'oecd_bli' is not defined

In [13]:
gdp_per_capita.rename(columns = {"2015": "GDP per Captia" }, inplace =True)
gdp_per_capita

NameError: name 'gdp_per_capita' is not defined

In [14]:
gdp_per_capita.set_index("Country", inplace =True)
gdp_per_capita

NameError: name 'gdp_per_capita' is not defined

In [15]:
full_country_stats = pd.merge(left = oecd_bli , right = gdp_per_capita, left_index = True, right_index = True)
full_country_stats

NameError: name 'pd' is not defined

In [16]:
full_country_stats.sort_values(by ="GDP per Captia", inplace =True)
full_country_stats

NameError: name 'full_country_stats' is not defined

In [17]:
remove_indices = [0,1,6,8,33,34,35]
keep_indices = list(set(range(36)) - set(remove_indices))
keep_indices

[2,
 3,
 4,
 5,
 7,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32]

In [18]:
country_stats = full_country_stats[["GDP per Captia", "Life satisfaction"]].iloc[keep_indices]
country_stats

NameError: name 'full_country_stats' is not defined

In [19]:
y = np.c_[country_stats["Life satisfaction"]]
y

NameError: name 'np' is not defined

In [20]:
country_stats.plot(kind = 'scatter', x = "GDP per Captia", y = "Life satisfaction")
plt.show()

NameError: name 'country_stats' is not defined

In [21]:
X = np.c_[country_stats["GDP per Captia"]]
X

NameError: name 'np' is not defined

In [22]:
from sklearn.linear_model import LinearRegression  

X = np.c_[country_stats["GDP per Captia"]]  
model = LinearRegression()                  
model.fit(X, y)
X_new = np.array([[22587]])                 
print(model.predict(X_new))

NameError: name 'np' is not defined

In [30]:
import pandas as pd
df = pd.read_csv("boston_house.csv")
df.head(3)

,AGE,B,RM,CRIM,DIS,INDUS,LSTAT,NOX,PTRATIO,RAD,ZN,TAX,CHAS,Target
0,65.2,396.90,6.575,0.00632,4.0900,2.31,4.98,0.538,15.3,1,18.0,296,0,24.0
1,78.9,396.90,6.421,0.02731,4.9671,7.07,9.14,0.469,17.8,2,0.0,242,0,21.6
2,61.1,392.83,7.185,0.02729,4.9671,7.07,4.03,0.469,17.8,2,0.0,242,0,34.7

In [31]:
### 보스턴 집값 데이터
CRIM: 범죄율
INDUS: 비소매상업지역 면적 비율
NOX: 일산화질소 농도
RM: 주택당 방 수
LSTAT: 인구 중 하위 계층 비율
B: 인구 중 흑인 비율
PTRATIO: 학생/교사 비율
ZN: 25,000 평방피트를 초과 거주지역 비율
CHAS: 찰스강의 경계에 위치한 경우는 1, 아니면 0
AGE: 1940년 이전에 건축된 주택의 비율
RAD: 방사형 고속도로까지의 거리
DIS: 직업센터의 거리
TAX: 재산세율

SyntaxError: invalid decimal literal (3277408867.py, line 11)

In [32]:
from sklearn.model_selection import train_test_split

df_train, df_test = train_test_split(df, test_size = 0.3, random_state = 0)
df_train.shape, df_test.shape

((354, 14), (152, 14))

In [33]:
df_train.head(10)

,AGE,B,RM,CRIM,DIS,INDUS,LSTAT,NOX,PTRATIO,RAD,ZN,TAX,CHAS,Target
141,100.0,396.90,5.019,1.62864,1.4394,21.89,34.41,0.624,21.2,4,0.0,437,0,14.4
272,58.7,394.96,6.538,0.11460,3.9175,6.96,7.73,0.464,18.6,3,20.0,223,0,24.4
135,98.2,394.67,6.335,0.55778,2.1107,21.89,16.96,0.624,21.2,4,0.0,437,0,18.1
298,20.1,368.24,6.345,0.06466,7.8278,2.24,4.97,0.400,14.8,5,70.0,358,0,22.5
122,92.9,378.09,5.961,0.09299,2.0869,25.65,17.93,0.581,19.1,2,0.0,188,0,20.5
22,91.7,396.90,6.142,1.23247,3.9769,8.14,18.72,0.538,21.0,4,0.0,307,0,15.2
68,36.8,396.90,5.594,0.13554,6.4980,6.07,13.09,0.409,18.9,4,12.5,345,0,17.4
20,98.1,376.57,5.570,1.25179,3.7979,8.14,21.02,0.538,21.0,4,0.0,307,0,13.6
437,100.0,9.32,6.152,15.17720,1.9142,18.10,26.45,0.740,20.2,24,0.0,666,0,8.7
14,84.5,380.02,6.096,0.63796,4.4619,8.14,10.26,0.538,21.0,4,0.0,307,0,18.2

In [34]:
dfx = df.drop(["Target"], axis = 1)
dfx.head()

,AGE,B,RM,CRIM,DIS,INDUS,LSTAT,NOX,PTRATIO,RAD,ZN,TAX,CHAS
0,65.2,396.90,6.575,0.00632,4.0900,2.31,4.98,0.538,15.3,1,18.0,296,0
1,78.9,396.90,6.421,0.02731,4.9671,7.07,9.14,0.469,17.8,2,0.0,242,0
2,61.1,392.83,7.185,0.02729,4.9671,7.07,4.03,0.469,17.8,2,0.0,242,0
3,45.8,394.63,6.998,0.03237,6.0622,2.18,2.94,0.458,18.7,3,0.0,222,0
4,54.2,396.90,7.147,0.06905,6.0622,2.18,5.33,0.458,18.7,3,0.0,222,0

In [35]:
dfy = df[["Target"]]
dfy.head()

   Target
0    24.0
1    21.6
2    34.7
3    33.4
4    36.2

In [36]:
dfX_train, dfX_test, dfy_train, dfy_test = train_test_split(dfx,dfy, test_size = 0.3, random_state = 0)
dfX_train.shape, dfX_test.shape, dfy_train.shape, dfy_test.shape

((354, 13), (152, 13), (354, 1), (152, 1))

In [37]:
from sklearn.model_selection import KFold
# statsmodels : 통계적 모델링, 통계 테스트, 데이터 탐색 및 시각화를 지원하는 라이브러리
import statsmodels.api as sm
import numpy as np

In [38]:
scores = np.zeros(5)
scores

array([0., 0., 0., 0., 0.])

In [39]:
cv = KFold(5, shuffle= True,random_state=0)
cv

KFold(n_splits=5, random_state=0, shuffle=True)

In [40]:
feature_names = df.columns[:-1]
print(feature_names)

Index(['AGE', 'B', 'RM', 'CRIM', 'DIS', 'INDUS', 'LSTAT', 'NOX', 'PTRATIO',
       'RAD', 'ZN', 'TAX', 'CHAS'],
      dtype='object')

In [43]:
for i, (idx_train, idx_test) in enumerate(cv.split(df)):
    df_train = df.iloc[idx_train]
    df_test = df.iloc[idx_test]

    model = sm.OLS.from_formula("Target~" + "+".join(feature_names),data= df_train)
    result = model.fit()

    pred = result.predict(df_test)
    rss = ((df_test.Target - pred) ** 2).sum() #정확도?
    tss = ((df_test.Target - df_test.Target.mean()) ** 2).sum()
    rsquared = 1 - rss/tss

    scores[i] = rsquared
    print("학습 R2 = {:.8f},검증 R2 = {:.8f}".format(result.rsquared, rsquared))

학습 R2 = 0.77301356,검증 R2 = 0.58922238
학습 R2 = 0.72917058,검증 R2 = 0.77799144
학습 R2 = 0.74897081,검증 R2 = 0.66791979
학습 R2 = 0.75658611,검증 R2 = 0.66801630
학습 R2 = 0.70497483,검증 R2 = 0.83953317

In [45]:
from sklearn.metrics import r2_score #결정계수
for i, (idx_train, idx_test) in enumerate(cv.split(df)):
    df_train = df.iloc[idx_train]
    df_test = df.iloc[idx_test]

    model = sm.OLS.from_formula("Target~" + "+".join(feature_names),data= df_train)
    result = model.fit()

    pred = result.predict(df_test)
    rsuared = r2_score(df_test.Target, pred)
    scores[i] = rsquared
    print("학습 R2 = {:.8f},검증 R2 = {:.8f}".format(result.rsquared, rsquared))

학습 R2 = 0.77301356,검증 R2 = 0.83953317
학습 R2 = 0.72917058,검증 R2 = 0.83953317
학습 R2 = 0.74897081,검증 R2 = 0.83953317
학습 R2 = 0.75658611,검증 R2 = 0.83953317
학습 R2 = 0.70497483,검증 R2 = 0.83953317

In [49]:
from sklearn.base import BaseEstimator, RegressorMixin
import statsmodels.formula.api as smf
import pandas as pd

class StatsmodelOLS(BaseEstimator, RegressorMixin):
    def __init__(self, formula):
        self.formula = formula
        self.model = None
        self.data = None
        self.result = None

    def fit(self, dfX, dfy):
        self.data = pd.concat([dfX, dfy], axis=1)
        self.model = smf.ols(self.formula, data=self.data)
        self.result = self.model.fit()
        return self

    def predict(self, new_data):
        return self.result.predict(new_data)